html {
	overflow: auto;
	margin:0;
	padding:0;
	height:100%;
	background: #000000;
	font: normal 12px helvetica,arial,sans-serif;
}
body {
	font-family: "Helvetica","Arial",sans-serif;
	font-size: 12px;
	font-weight: normal;
	background: #ffffff;
	color: #303030;
	margin: 0 0 1px;
	padding: 0;
	min-height: 100%;
	text-align: justify;
	line-height: normal;
	font-variant: normal;
	font-style: normal;
	font-size-adjust: none;
}

div#header {
	background-color:#2e419c;
	height: 115px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

div#header-container {
	background: transparent url(/media/logo.png) no-repeat scroll left top;
	background-color:#2e419c;
	height: 115px;
	width: 800px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

div#header h1 {
	padding: 25px 0 0 25px;
	margin: 0;
}
div#header h1 a {
	display: block;
	height: 70px;
	width: 300px;
}
div#header h1 a span {
	display: none;
}


div#header ul {
	position: absolute;
	bottom: 0;
	left: 131px;
	height: 30px;
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 11px auto 0;
	padding: 0;
	overflow: hidden;
	clear: both;
	width: 669px;
}
div#header li {
	-x-system-font: none;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size-adjust: none;
	font-stretch: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 14px;
	line-height: normal;
	padding: 0;
}

div#header #donate-hdr {
        position: absolute;
        bottom: 0;
        left: 631px;
        height: 25px;
        margin: 11px auto 0;
        padding: 0;
        overflow: hidden;
        clear: both;
}

div#header li.donate-selected {
    position: absolute;
    right: 0;
}

div#header li a:hover {
	background: #aaaaaa;
	color: #000000;
}
div#header li a:hover span {
	background: #aaaaaa;
	color: #000000;
}

div#header li.selected a {
	background: #ffffff;
	color: #000000;
}
div#header li.selected a span {
	background: #ffffff;
	color: #000000;
}

div#header li a {
	cursor: pointer;
	display: inline-block;
	height: 30px;
	margin-right: 10px;
	padding-left: 0px;
	text-decoration: none;
	color: #ffffff;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

div#header span.donate-img img{
    width: 24px;
    height: 24px;
    border: 0px;
    vertical-align:text-top;
    margin-left: 10px;
    margin-top: -5px;
}


div#header li a span {	
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding: 10px 10px 10px 10px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}


h3 {
    color: #2e419c;
}

h1 {
    color: #2e419c;
}

/***********************/

div#content {
	position: relative;
	background: #ffffff;
	//min-height: 400px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	clear: both;
	width: 100%;
}
div#content-container {
	width: 800px;
	padding: 20px 50px;
	margin: 0 auto;
	position: relative;
}

/***********************/

div#punchline {
    text-align: center;
    font-family: "Times",serif;
    font-size: 30px;
    font-style: italic;
    padding-bottom: 30px;
    padding-top: 10px;
}

h1.title {
    
}

/* Put a border around all containers for debugging */
div#content-container div {
 /*border: 1px solid #FF00FF;*/
}

div#schema {
    width: 800px;
    height: 400px;
    position: relative;
   # border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding-top: 10px;
}

div#top-schema {
}

div#left-schema {
    width: 300px;
    //height: 500px;
    float:left;
    position: relative;
    text-align: left;
    margin: 0px;
}

div#left-schema ol{
padding-left: 20px;
padding-top: 20px;

}

div#left-schema li{
padding-bottom: 20px; 
}

div#main-schema {
    background: transparent url(/media/schema.png) no-repeat scroll left top;
    width:453px;
    height: 500px;
    margin: 0 auto;
    text-align: left;
    float:left;
    position: relative;
}

div#main-schema h3 {
    margin-bottom: 0px;
}

div#schema-1-pda {
    position:absolute;
    left:220px;
    top:316px;
    width: 150px;
}

div#schema-2-ispserver {
    position:absolute;
    left:9px;
    top:90px;
    width: 150px;
}

div#schema-3-server {
    position:absolute;
    left:323px;
    top:247px;
    width: 150px;
}

/***********************/
/* DOWNLOAD SECTION */

div#download {
   width: 800px;
#    height: 114px;
   position: relative;
//   background: #aaaaaa;
margin-left:auto;
margin-right:auto;
}

div#download-button {
margin-left:auto;
margin-right:auto;
    width: 315px;
    height: 114px;
    position: relative;
//    border-bottom: 1px solid #000000;
//    border-top: 1px solid #000000;
//    padding-top: 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div#download-requirements {
margin-left:auto;
margin-right:auto;
    width: 315px;
    //height: 314px;
    position: relative;
}

div#download-requirements h3 {
  margin-bottom: 0px;
}

div#version-info {
    border: 0px;
    position:absolute;
    left:115px;
    top:80px;
//    width: 300px;
}

div#download-button img {
    border: 0px;
}

#download-button:hover {
	background: #2e419c;
	color: #000000;
}

/***********************/
/* INSTALL SECTION */

ol#list li{
padding-bottom: 20px; 
}

div.console {
padding: 10px;
font: normal 12px courier,monospace;
}

/***********************/
/* DONATE SECTION */

div#donate {
   width: 800px;
#    height: 114px;
   position: relative;
//   background: #aaaaaa;
margin-left:auto;
margin-right:auto;
}

div#donate-bitcoin {
margin-left:auto;
margin-right:auto;
    width: 315px;
    height: 114px;
    position: relative;
//    border-bottom: 1px solid #000000;
//    border-top: 1px solid #000000;
//    padding-top: 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
