<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />

    <title>MagicTunnel</title>

    <script type="text/javascript">
    /* <![CDATA[ */
    (function() {
        var s = document.createElement('script');
        var t = document.getElementsByTagName('script')[0];

        s.type = 'text/javascript';
        s.async = true;
        s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

        t.parentNode.insertBefore(s, t);
     })();
    /* ]]> */

    </script>
  </head>

  <body>
    <div id="header">
      <div id="header-container">
        <ul>
          {% for item_url in site.data.nav %}
            {% assign item_url_index = item_url | append: 'index.html' %}
            {% for p in site.pages %}
              {% if p.url == item_url or p.url == item_url_index %}
                <li
                  {% if item_url == '/' and page.url == '/index.html' %}
                     class="selected"
                  {% elsif item_url == '/' and page.url == '/' %}
                     class="selected"
                  {% elsif item_url != '/' and page.url contains item_url %}
                     class="selected"
                  {% endif %}
                  ><a href="{{ p.url|remove:'index.html' }}"><span>{{ p.title }}</span></a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>

        <div id="donate-hdr">
          <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://www.magictunnel.net/"></a>
          <noscript>
              <a href="http://flattr.com/thing/688067/MagicTunnel" target="_blank">
                  <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this"
                  title="Flattr this" border="0" />
              </a>
          </noscript>
        </div>
      </div>
    </div>

    <div id="content">
      <div id="content-container">
        {{content}}
      </div>
    </div>

    <div id="footer">
      <center>
        Find MagicTunnel useful? Send Bitcoin Cash (BCH) to
        <tt><b>{{site.data.sw.donation.bch}}</b></tt>
      </center>
    </div>
  </body>
</html>
